@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row align-items-center shadow p-4 bg-white rounded w-100" style="max-width: 1000px;">
        <div class="col-md-5 text-center mb-3 mb-md-0">
            <img src="~/images/Profile.png" class="img-fluid rounded" alt="About Us">
        </div>
        <div class="col-md-7">
            <h2 class="text-primary fw-bold">Privacy</h2>
            <p>At RFST, we take data privacy and security seriously. We are committed to protecting the confidentiality of all information stored on our platform.</p>
            <p>All patient-related data, including medical images and personal details, are securely stored and are only accessible by authorized medical professionals. We ensure that no data is shared with any external parties.</p>
            <p>Doctors using our platform can trust that their information, as well as their patients' data, is protected through stringent security measures. Our systems are designed to maintain the integrity and security of all uploaded medical images and records.</p>
            <p>By using our platform, you acknowledge and agree to our commitment to safeguarding your data and upholding the highest standards of privacy.</p>
            
        </div>
    </div>
</div>
</div>
